body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 10%, #B721FF 90%);
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.cabecera {
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    margin-top: -20px;
    width: 100px;
    color: #21D4FD;
    font-size: 30px;
    padding-top: 1px;
}

.cabecera h3 {
    margin-top: -16px;
    margin-left: 10px;
    padding-top: 30%;
    font-family: 'Sassy Frass', cursive;
}

.lista {
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 10px;
    box-shadow: -3px 3px 25px 5px white;
    width: 350px;
    min-height: 550px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.lista input {
    margin-bottom: 50px;
    height: 20px;
}

.lista h1 {
    font-family: 'Praise', cursive;
    font-size: 50px;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0px 15px;
}

li {
    text-align: left;
    width: 83%;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 5%;
    height: 25px;
    overflow: hidden;
    padding-left: 5px;
}

.item-div {
    display: flex; 
    height: 25px;
    margin-top: .5em
}

.btn-agregar, .btn-eliminar {
    width: 25px;
    height: 25px;
    border: none;
}

.btn-eliminar {
    background-color: #a31915;
    opacity: 0;
}

.btn-eliminar:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.btn-agregar {
    background-color: royalblue;
}

.footer {
    background: black;
    width: 100%;
    height: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.footer p {
    font-size: 10px;
}

@media (max-width: 500px) {
    .lista {
        margin: 50px auto;
        max-width: 275px; 
    }

    .btn-eliminar {
        opacity: 1;
    }
}